.container{
  width: 70rem;
  margin: auto;
  padding: 4em;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgb(131, 131, 131);
}

.button-newClient {
  border-radius: 4px;
    background-color: #408cff;
    padding: 6px;
    border: none;
    cursor: pointer;
    width: 25%;
    color: #FFFFFF;
}

